.preloader{position:fixed;top:0;display:flex;justify-content:center;align-items:center;width:100%;height:100vh;background:#669db2;z-index:100000}.preloader::before{text-align:center;content:'Уншиж байна';position:absolute;font-size:10em;font-weight:900;text-transform:uppercase;color:#ff4f59}.preloader.active{transform:translateY(-100vh);transition:ease-in-out 1s;transition-delay:1s}.counter{position:relative;color:#fff;font-weight:700;font-size:14em;z-index:1}.counter::after{content:'%';font-size:.5em}.hide{opacity:0;transition:1s;pointer-events:none}@media screen and (min-width:0px) and (max-width:500px){.counter{font-size:6em}.preloader:before{font-size:4em}.lds-heart{display:none}}.lds-heart{margin-right:540px;position:fixed;width:80px;height:80px;transform:rotate(45deg);transform-origin:40px 40px}.lds-heart div{top:32px;left:32px;position:absolute;width:32px;height:32px;background:#ff4f59;animation:lds-heart 1.2s infinite cubic-bezier(.215,.61,.355,1)}.lds-heart div:after,.lds-heart div:before{content:" ";position:absolute;display:block;width:32px;height:32px;background:#ff4f59}.lds-heart div:before{left:-24px;border-radius:50% 0 0 50%}.lds-heart div:after{top:-24px;border-radius:50% 50% 0 0}@keyframes lds-heart{0%{transform:scale(.95)}5%{transform:scale(1.1)}39%{transform:scale(.85)}45%{transform:scale(1)}60%{transform:scale(.95)}100%{transform:scale(.9)}}input[type=radio]{display:none}.card{position:absolute;width:60%;height:100%;left:0;right:0;margin:auto;transition:transform .4s ease;cursor:pointer}.container{width:100%;max-width:800px;max-height:600px;height:100%;transform-style:preserve-3d;display:flex;justify-content:center;flex-direction:column;align-items:center}.cards{position:relative;width:100%;height:100%;margin-bottom:20px}img{width:100%;height:100%;border-radius:10px;-o-object-fit:cover;object-fit:cover}#item-1:checked~.cards #song-3,#item-2:checked~.cards #song-1,#item-3:checked~.cards #song-2{transform:translatex(-40%) scale(.8);opacity:.4;z-index:0}#item-1:checked~.cards #song-2,#item-2:checked~.cards #song-3,#item-3:checked~.cards #song-1{transform:translatex(40%) scale(.8);opacity:.4;z-index:0}#item-1:checked~.cards #song-1,#item-2:checked~.cards #song-2,#item-3:checked~.cards #song-3{transform:translatex(0) scale(1);opacity:1;z-index:1}#item-1:checked~.cards #song-1 img,#item-2:checked~.cards #song-2 img,#item-3:checked~.cards #song-3 img{box-shadow:0 0 5px 0 rgba(81,81,81,.47)}.player{background-color:#fff;border-radius:8px;min-width:320px;padding:16px 10px}.upper-part{position:relative;display:flex;align-items:center;margin-bottom:12px;height:36px;overflow:hidden}.sub-line{display:flex;justify-content:space-between;width:100%}.subtitle,.time{font-size:12px;line-height:16px;color:#c6c5c6}.time{font-size:12px;line-height:16px;color:#a5a5a5;font-weight:500;margin-left:auto}.progress-bar{height:3px;width:100%;background-color:#e9efff;border-radius:2px;overflow:hidden}.progress{display:block;position:relative;width:60%;height:100%;background-color:#2992dc;border-radius:6px}.info-area{width:100%;position:absolute;top:0;left:30px;transition:transform .4s ease-in}#item-2:checked~.player #test{transform:translateY(0)}#item-2:checked~.player #test{transform:translateY(-40px)}#item-3:checked~.player #test{transform:translateY(-80px)}
.draw-border {
     box-shadow: inset 0 0 0 4px #58afd1;
     color: #58afd1;
     transition: color 0.25s 0.0833333333s;
     position: relative;
   }
   .draw-border::before, .draw-border::after {
     border: 0 solid transparent;
     box-sizing: border-box;
     content: "";
     pointer-events: none;
     position: absolute;
     width: 0;
     height: 0;
     bottom: 0;
     right: 0;
   }
   .draw-border::before {
     border-bottom-width: 4px;
     border-left-width: 4px;
   }
   .draw-border::after {
     border-top-width: 4px;
     border-right-width: 4px;
   }
   .draw-border:hover {
     color: #ffe593;
   }
   .draw-border:hover::before, .draw-border:hover::after {
     border-color: #ffe593;
     transition: border-color 0s, width 0.25s, height 0.25s;
     width: 100%;
     height: 100%;
   }
   .draw-border:hover::before {
     transition-delay: 0s, 0s, 0.25s;
   }
   .draw-border:hover::after {
     transition-delay: 0s, 0.25s, 0s;
   }
   
   .btn {
     background: none;
     border: none;
     cursor: pointer;
     line-height: 1.5;
     font: 700 1.2rem "Roboto Slab", sans-serif;
     padding: 1em 2em;
     letter-spacing: 0.05rem;
   }
   .btn:focus {
     outline: 2px dotted #55d7dc;
   }